<% flash.each do |key, value| %>	
	<% if key == 'notice' %>
		<div class="alert alert-success"><%= value %> </div>		
	<% else %>
		<div class="alert alert-<%= key %>"><%= value %> </div>		
	<% end %>
<% end %>

<% today = Time.now.to_date %>
	<div class="panel panel-custom">
	  <div class="panel-heading">Current race</div>
	  <div class="panel-body">
	  	<table>	  			
	  			<tr>
	  				<td>
	  					<%= @race.name unless @race.rosters.find_by(cyclist_id: session[:cyclist_id]) %>	  					
	  				</td>
	  				<td><%= @race.stages.first.active_date if @race.stages.first %> - <%= @race.stages.last.close_date if @race.stages.last %></td>
	  				<td><%= link_to 'Leave this race', race_roster_path(@race, @roster), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ajax', remote: true if race.stages.first.active_date <= today %>	  					  				
	  				</td>
	  				<td><div class="loader"></div></td>
	  				<script type="text/javascript">
	  					$('.ajax').bind('ajax:beforeSend', function(){
	  						index = $(this).index()
	  						$('.loader').eq(index).show();
	  					});

	  					$('.ajax').bind('ajax:complete', function(){
	  						$('.loader').eq(index).hide();
	  					});
	  				</script>
	  			</tr>
	  		
	  		</table>	  
	  </div>
	</div>
	<div class="panel panel-custom">
	  <div class="panel-heading">My result</div>
	  <div class="panel-body">
	  <% if @cyclist_result.nil? %>
	  	No results...
	  <% else %>
	  	<table>
	  		<tr>
  				<td>Race</td>
  				<td>Stage</td>
  				<td>Time</td>
  				<td>Starava URL</td>
  				<td>Avg Watts</td>
  				<td>W/kg</td>
  				<td>Time stamp</td>
  			</tr>
		<% @cyclist_result.each do |result| %>
			<tr>
				<td><%= result.race %></td>
				<td><%= result.stage %></td>
				<td><%= result.time %></td>
				<td><%= result.starva_url%></td>
				<td><%= result.avg_watts %></td>
				<td><%= result.watts_per_k %></td>
				<td><%= result.time_stamp %></td>
			</tr>
		<% end %>
		</table>
	  <% end %>	  	
	  </div>
	</div>