<% flash.each do |key, value| %>	
	<% if key == 'notice' %>
		<div class="alert alert-success"><%= value %> </div>		
	<% else %>
		<div class="alert alert-<%= key %>"><%= value %> </div>		
	<% end %>
<% end %>

<% today = Time.now.to_date %>
	<div class="panel panel-custom">
	  <div class="panel-heading">Current race</div>
	  <div class="panel-body">
	  	<table>	  			
	  			<tr>
	  				<td>
	  					<%= @race.name %>
	  					&nbsp;&nbsp;&nbsp;  					
	  				</td>
	  				<td><%= @race.stages.first.active_date.to_formatted_s(:long) if @race.stages.first %> - <%= @race.stages.last.close_date.to_formatted_s(:long) if @race.stages.last %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	  				<td><%= link_to 'Leave this race', delete_roster_path(@race.id, @roster.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ajax', remote: true if @race.stages.first.active_date >= today %>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  					  				
	  				</td>
	  				<td><div class="loader"></div></td>
	  				<script type="text/javascript">
	  					$('.ajax').bind('ajax:beforeSend', function(){
	  						// index = $(this).index()
	  						// $('.loader').eq(index).show();
	  					});

	  					$('.ajax').bind('ajax:complete', function(){
	  						// $('.loader').eq(index).hide();
	  					});
	  				</script>
	  			</tr>
	  		
	  		</table>	  
	  </div>
	</div>
	<div class="panel panel-custom">
	  <div class="panel-heading">All results from all Hammerfests</div>
	  <div class="panel-body">
	  <% if @cyclist_result.nil? or @cyclist_result.length <= 0 %>
	  	No results...
	  <% else %>
	  	<table class="table">
	  		<thead>
		  		<tr>
	  				<th width="30%">Race</th>
	  				<th>Stage</th>
	  				<th>Time</th>
	  				<th>Strava URL</th>
	  				<th>Avg Watts</th>
	  				<th>W/kg</th>
	  				<th>Time stamp</th>
	  			</tr>
  			</thead>
  			<tbody>
				<% @cyclist_result.each do |result| %>
					<tr>
						<td><%= result['race'] %></td>
						<td><%= result['stage'] %></td>
						<td><%= result['time'] %></td>
						<td>
							<%= link_to result['strava_url'], result['strava_url'] unless result['strava_url'] == 'DNF' %>
							<%= result['strava_url'] if result['strava_url'] == 'DNF' %>								
						</td>
						<td><%= result['avg_watts'] %></td>
						<td><%= result['watts_per_k'] %></td>
						<td><%= result['time_stamp'] %> </td>													
						<!-- <% if result['strava_url'] != 'DNF' and result['time'] == 'DNF' %>
							<td><%= link_to 'Check Result', deauth_path, class:'btn btn-danger' %></td>
						<% end %> -->
					</tr>
				<% end %>
			</tbody>
		</table>
	  <% end %>	  	
	  </div>
	</div>
