<%= simple_form_for([@race, @roster]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :cyclist %>
    <%= f.select :cyclist_id, Cyclist.all.map{|c| [c.name, c.id]} %>
  </div>

  <div class="form-inputs">
    <%= f.label :race %>
    <%= f.select :race_id, Race.all.map{|r| [r.name, r.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>