<p id="notice"><%= notice %></p>

<h3>
  <u><%= @race.name %></u>
  <span>-</span>
  <span>Roster</span>
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cyclist</th>
      <th>Join date</th>            
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rosters.each do |roster| %>
      <tr>
        <td><%= roster.cyclist.name %></td>
        <td><%= roster.created_at.strftime('%m/%d/%Y') %></td>                
        <td><%= link_to 'Remove', race_roster_path(@race, roster), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><strong>Cyclists to Add</strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <% Cyclist.order(:name).each do |cyclist| %>    
      <% unless cyclist.races.include?(@race) %>
        <tr>
          <td><%= cyclist.name %></td>        
          <td><%= link_to 'Add to Race', race_rosters_path(:roster => {race_id: @race, cyclist_id: cyclist}), method: :create %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>