<%= simple_form_for(@race) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.text_area :description, size: '120x6' %>
    <%= f.input :hashtag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Cancel', races_path, class: 'btn btn-default btn-cancel'  %>
  </div>
<% end %>
