<p id="notice"><%= notice %></p>

<h3><%= @race.name %></h3>

<p><strong>Joined Cyclists</strong></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Join Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race.rosters.each do |roster| %>
      <tr>
        <td><%= roster.cyclist.name %></td>
        <td><%= roster.join_date %></td>
        <td><%= link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Cyclist', new_roster_path %>
<%= render 'rosters/form' %>