<p id="notice"><%= notice %></p>

<h3>
  <u><%= @race.name %></u>
  <span>-</span>
  <span>Stages</span>
  <span><%= link_to 'Add Stage', new_race_stage_path(@race), class: 'btn btn-default btn-new' %></span>
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Stage #</th>
      <th>Name</th>
      <th>Segments</th>
      <th>Active date</th>
      <th>Close date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @race.stages.each do |stage| %>
      <tr>
        <td><%= stage.stage_no %></td>
        <td><%= link_to stage.name, race_stage_path(@race, stage) %></td>
        <td><%= stage.segments.count %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Edit', edit_race_stage_path(@race, stage) %></td>
        <td><%= link_to 'Delete', race_stage_path(@race, stage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>