<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @race.title %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @race.describe %>
</p>

<p>
  <strong>Start:</strong>
  <%= @race.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @race.end %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
