<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @race.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @race.end_date %>
</p>

<p>
  <strong>Hash tag:</strong>
  <%= @race.hashtag %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
