<p id="notice"><%= notice %></p>

<h3>
  Name: <%= @race.name %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @race.stages.first.active_date if @race.stages.first %>
  <strong>End Date:</strong>
  <%= @race.stages.last.close_date if @race.stages.last %>
</p>

<p>
  <strong>Hash tag:</strong>
  <%= @race.hashtag %>
</p>

<p>
<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Races List', races_path %>
</p>

<br/>
<p><strong>Listing Stages</strong></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Stage #</th>
      <th>Name</th>
      <th>Segments</th>
      <th>Active date</th>
      <th>Close date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @race.stages.each do |stage| %>
      <tr>
        <td><%= stage.stage_no %></td>
        <td><%= link_to stage.name, race_stage_path(@race, stage) %></td>
        <td><%= stage.segments.count %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Edit', edit_race_stage_path(@race, stage) %></td>
        <td><%= link_to 'Destroy', race_stage_path(@race, stage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'Add Stage', new_race_stage_path(@race) %>
</p>

<br/>