<p id="notice"><%= notice %></p>
<% today = Time.now %>
<%= today %>

<h3>Races</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= link_to race.name, manage_result_path(race) %></td>
        <td><%= race.description %></td>
        <td><%= race.stages.first.active_date if race.stages.first %></td>
        <td><%= race.stages.last.close_date if race.stages.last %></td>
      </tr>
    <% end %>
  </tbody>
</table>