<h3><%= link_to @race.name, race_path(@race) %> &nbsp;-&nbsp; Manage Results</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Stage#</th>
      <th>Name</th>
      <th>Results</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race.stages.each_with_index do |stage| %>
    <%
        stage_effort_count = 0
        @race.cyclists.each {|cyclist| stage_effort_count = stage_effort_count + 1 if cyclist.stage_efforts.find_by(stage_id: stage) } %>
      <tr>
        <td><%= stage.stage_no %></td>
        <td><%= link_to stage.name, race_stage_path(@race, stage) %></td>
        <td><%= stage_effort_count.to_s + '/' + @race.cyclists.count.to_s %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Manage Results',  stage_results_path(@race, stage) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Overall Leaderboard</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Place</th>
      <th>Points</th>
      <th>Name</th>
      <th>Total time</th>
    </tr>
  </thead>

  <tbody>
    <% 
      index_tmp = 0
      total_points_temp = 0
    %>
    <% @sorted_cyclists_race.each_with_index do |item, index| %>    
      <tr>      
      <%
      if total_points_temp == 0 or total_points_temp > item['total_points']
        total_points_temp = item['total_points']
        index_tmp = index + 1
      end
      %>
        <td><%= index + 1 %></td>
        <td>
        <%= item['total_points'] %>
        </td>      
        <td><%= item['cyclist'].name %></td>
        <td>
          <%= Time.at(item['total_time']).utc.strftime('%H:%M:%S') if item['total_time'] != "DNF" %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>