<h3><%= link_to @race.name, race_path(@race) %> &nbsp;-&nbsp; Manage Results</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Stage#</th>
      <th>Name</th>
      <th>Results</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race.stages.each_with_index do |stage| %>
    <%
        stage_effort_count = 0
        @race.cyclists.each {|cyclist| stage_effort_count = stage_effort_count + 1 if cyclist.stage_efforts.find_by(stage_id: stage) } %>
      <tr>
        <td><%= stage.stage_no %></td>
        <td><%= link_to stage.name, race_stage_path(@race, stage) %></td>
        <td><%= stage_effort_count.to_s + '/' + @race.cyclists.count.to_s %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Manage Results',  stage_results_path(@race, stage) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Refresh', request.original_url, class: 'btn btn-default' %>
<br>
<div class="row">
  <div class="col-md-3"><h3>Overall Leaderboard</h3></div>
  <div class="col-md-9">
    <h3>
      <button type="button" class="btn btn-default export-btn" data-toggle="modal" data-target="#myModal">
        Export
      </button>
    </h3>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Leaderboard Export</h4>
      </div>
      <div class="modal-body">
        <textarea class="export-textarea" rows="40" cols="78">
          
        </textarea>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $('.export-btn').click(function(){
    var table_data = $('div.tab-pane.active table').html();
    var custom_style = "<style>\n .hftable { width:100%; border-collapse: collapse;}\nth, td { text-align: left; border: 1px solid gray; padding: 5px; }\n</style>\n";
    table_data = custom_style + "<table class='hftable'>" + table_data + "</table>"
    $('.export-textarea').text(table_data);
  });
</script>
<ul class="nav nav-tabs">
  <% @sorted_cyclists_race_stage.each_with_index do |item, index| %>
    <li class = "<% if index == 0 %>active<% end %>"><a data-toggle="tab" href="#stage<%= index %>" >Stage <%= index + 1 %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @sorted_cyclists_race_stage.each_with_index do |item, index| %>
    <div id="stage<%= index %>" class="tab-pane fade in <% if index == 0 %> active <% end %>">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Place</th>
            <th>Points</th>
            <th>Name</th>
            <th>Total time</th>
          </tr>
        </thead>

        <tbody>
          <% 
            index_tmp = 0
            total_points_temp = 0
            index_dnf = 0
            flag = 0
          %>
          <% item.each_with_index do |item_x, index_x| %>    
            <tr>      
            <%
            if total_points_temp == 0 or total_points_temp > item_x['total_points']
              total_points_temp = item_x['total_points']
              index_tmp = index_x + 1
            end

            if item_x['total_time'] == "DNF" and flag == 0
              index_dnf = index_x + 1
              flag = 1
            end

            %>
              <td>
              <% if item_x['total_time'] != "DNF" %>
                <%= index_x + 1 %>
              <% else %>
                <%= index_dnf %>
              <% end %>
              </td>
              <td>
              <%= item_x['total_points'] %>
              </td>      
              <td><%= item_x['cyclist'].name %></td>
              <td>
                <% if item_x['total_time'] != "DNF" %>
                <%= Time.at(item_x['total_time']).utc.strftime('%H:%M:%S')  %>
                <% else %>
                <%= "DNF" %>
                <% end %>
              </td>  
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>  
</div>



