<h3><%= link_to @race.name, race_path(@race) %> &nbsp;-&nbsp; Manage Results</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Stage#</th>
      <th>Name</th>
      <th>Results</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race.stages.each_with_index do |stage| %>
      <tr>
        <td><%= stage.stage_no %></td>
        <td><%= link_to stage.name, race_stage_path(@race, stage) %></td>
        <td><%= stage.stage_efforts.count.to_s + '/' + @race.stages.count.to_s %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Manage Results',  stage_results_path(@race, stage) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Overall Leaderboard</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Place</th>
      <th>Points</th>
      <th>Name</th>
      <th>Total time</th>
    </tr>
  </thead>

  <tbody>
    <% @race.cyclists.each_with_index do |cyclist, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= 5.0 %></td>        
        <td><%= cyclist.name %></td>
        <td><%= '1:00:00' %></td>                
      </tr>
    <% end %>
  </tbody>
</table>