<h3>
<u><%= link_to @race.name, race_path(@race) %></u>
 &nbsp;-&nbsp; 
 <u><%= link_to 'Manage Results', manage_result_path(@race) %></u>
 &nbsp;-&nbsp; 
 Stage<%= @stage.stage_no %>  
 &nbsp;-&nbsp; 
 <%= @stage.name %> 
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Strava Activity URL</th>
      <th>Avg Watts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cyclists.each_with_index do |cyclist| %>
    <% stage_effort = cyclist.stage_efforts.find_by(stage_id: @stage) %>
      <tr>
        <td><%= link_to cyclist.name, cyclist.strava_athlete_url %></td>
        <% if stage_effort %>
          <td><%= Time.at(stage_effort.elapsed_time).utc.strftime('%H:%M:%S') if stage_effort.elapsed_time %></td>
          <td><%= link_to stage_effort.strava_activity_url, stage_effort.strava_activity_url %></td>    
          <td><%= stage_effort.segment_avg_watts %>w</td>
          <td><%= link_to 'Update Result', edit_stage_effort_path(@race, @stage, cyclist, stage_effort) %></td>        
          <td><%= link_to 'Remove', destroy_stage_effort_path(@race, @stage, cyclist, stage_effort), method: :delete, data: { confirm: 'Are you sure?' } %></td>          
        <%else%>
          <td></td>
          <td></td>    
          <td><%= link_to 'Add Result', new_stage_effort_path(@race, @stage, cyclist) %></td>    
          <td></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Stage Leaderboard</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Place</th>
      <th>Points</th>
      <th>Name</th>
      <th>Total time</th>
    </tr>
  </thead>

  <tbody>
    <% 
    index_temp = 0 
    elapsed_time_temp = 0

    %>
    <% @cyclists.each_with_index do |cyclist, index| %>
      <% stage_effort = cyclist.stage_efforts.find_by(stage_id: @stage) %>
      <% if stage_effort %>
      <%
      if elapsed_time_temp < stage_effort.elapsed_time.to_i
        elapsed_time_temp = stage_effort.elapsed_time.to_i
        index_temp = index + 1
      end
      %>
        <tr>
          <td><%= index_temp %></td>
          <td><%= stage_effort.points %></td>        
          <td><%= cyclist.name %></td>
          <td><%= Time.at(stage_effort.elapsed_time).utc.strftime('%H:%M:%S') if stage_effort.elapsed_time %></td>                
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>