<h3><%= link_to @race.name, race_path(@race) %> &nbsp;-&nbsp; <%= link_to 'Manage Results', manage_result_path(@race) %> &nbsp;-&nbsp; <%= @stage.name %> </h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Strava Activity URL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cyclists.each_with_index do |cyclist| %>
    <% stage_effort = cyclist.stage_efforts.find_by(stage_id: @stage) %>
      <tr>
        <td><%= link_to cyclist.name, cyclist_path(cyclist) %></td>
        <% if stage_effort %>
          <td><%= '12:30' %></td>
          <td><%= link_to 'https://www.strava.com/activities/444722288', 'https://www.strava.com/activities/444722288' %></td>    
          <td><%= link_to 'Update Result', edit_stage_effort_path(@race, @stage, cyclist, stage_effort) %></td>        
        <%else%>
          <td></td>
          <td></td>    
          <td><%= link_to 'Add Result', new_stage_effort_path(@race, @stage, cyclist) %></td>    
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>