<h1>GPS Cycling Race</h1>

<h3>Please add me on skype, louisder51
And let me get your email</h3>

<% flash.each do |key, value| %>	
	<% if key == 'notice' %>
		<div class="alert alert-success"><%= value %> </div>		
	<% else %>
		<div class="alert alert-<%= key %>"><%= value %> </div>		
	<% end %>
<% end %>

<% if session[:access_token].nil? %>
	<%= link_to (image_tag "ConnectWithStrava2x.png"), '/auth' %>
<% else %>
	<h1>
	Thanks for your linking your account
	<p><%= session[:cyclist_name] %></p>
	</h1>
	<p><%= link_to "Deauthorize", deauth_path %></p>	
<% end %>