<p id="notice"><%= notice %></p>

<h1>Listing Stages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Race</th>
      <th>Name</th>
      <th>Active date</th>
      <th>Close date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.name %></td>
        <td><%= stage.description %></td>
        <td><%= stage.active_date %></td>
        <td><%= stage.close_date %></td>        
        <td><%= link_to 'Edit', edit_race_stage_path(@race, stage) %></td>
        <td><%= link_to 'Destroy', race_stage_path(@race, stage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>
