<p id="notice"><%= notice %></p>

<h3>
  <span><u><%= link_to @stage.race.name, @race %></u></span>
  <span>-</span>
  <u>
  <span>Stage <%= @stage.stage_no %> </span>
  <span>-</span>
  <span><%= @stage.name %></span>
  </u>
  <span>-</span>
  <span>Segments</span>
  <%= link_to 'Add Segment', new_race_stage_segment_path(@race, @stage), class: 'btn btn-default btn-new'%>
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Segment#</th>
      <th>Strava URL</th>
      <th>Description</th>
      <th>Length</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stage.segments.each_with_index do |segment, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= link_to segment.strava_segment_url, segment.strava_segment_url %></td>
        <td><%= segment.description %></td>
        <td><%= segment.length.round(1).to_s + ' miles' if segment.length %></td>      
        <td><%= link_to 'Update', edit_race_stage_segment_path(@race, @stage, segment) %></td>
        <td><%= link_to 'Delete', race_stage_segment_path(@race, @stage, segment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>