<p id="notice"><%= notice %></p>
<h3>
Cyclists
<%= link_to 'New Cyclist', new_cyclist_path, class: 'btn btn-default btn-new' %>
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Join date</th>
      <th>FTP</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Cyclist.all.each do |cyclist| %>
      <tr>
        <td><%= link_to cyclist.name, cyclist.strava_athlete_url %></td>
        <td><%= cyclist.gender %></td>
        <td><%= cyclist.created_at.strftime('%m/%d/%Y') %></td>  
        <td><%= cyclist.ftp %></td>      
        <td><%= link_to 'Edit', edit_cyclist_path(cyclist) %></td>
        <td><%= link_to 'Destroy', cyclist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>