<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cyclist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cyclist.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @cyclist.gender %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @cyclist.created_at %>
</p>

<%= link_to 'Edit', edit_cyclist_path(@cyclist) %> |
<%= link_to 'Back', cyclists_path %>
